/STMcode/.metadata
/.metadata
*.prefs
*.xml
PCcode/Final Spring project ig/.vs/Final Spring project ig/v17/ipch/AutoPCH/8a2a2c600546b08/COM.ipch
/PCcode/Final Spring project ig/.vs/Final Spring project ig/FileContentIndex
/PCcode/Final Spring project ig/.vs/Final Spring project ig/v17
/PCcode/Final Spring project ig/.vs/Final Spring project ig/v17
/PCcode/Final Spring project ig/Final Sp.31296bd9
